*{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: sans-serif,Microsoft JhengHei;
}

/** PGS **/
.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0px);}
    65% {-webkit-transform:translate(15px);}
    to {-webkit-transform: translate(-0px);}    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0px);}
    65% {-moz-transform:translate(15px);}
    to {-moz-transform: translate(-0px);}    
}

.vertfloating{
    float: left;
    -webkit-animation-name: VertFloatingx;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: VertFloating;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes VertFloatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 10px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@-moz-keyframes VertFloating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 10px);}
    to {-moz-transform: translate(0, -0px);}    
}
/** end of PGS **/

body
{
	overflow:		hidden;
	position: 		static !important; 	
	top: 			0 !important;
}

/** Left **/
#WebScreenError
{
	position:	absolute;
	left:		8px;
	top:		142px;
}

#leftbar
{
	position:	absolute;
	width:		256px;
	top:		0px;
	left:		0px;
}

#Clock
{
	position:		absolute;
	left:			0px;
	top:			1015px;
	color:			#4E414A;
	text-align: 	center;
	font-family:	sans-serif;
	font-weight:	bold;
	font-size:		24px;
	width:			256px;
}

#redeemicon
{
	position:	absolute;
	left:		0px;
	top:		200px;
	width:		256px;
	filter: 	grayscale(100%);
	color:		#AAAAAA;
	font-weight:normal;
}

#searchicon
{
	position:	absolute;
	left:		0px;
	top:		390px;
	width:		256px;
	filter: 	grayscale(100%);
	color:		#AAAAAA;
	font-weight:normal;
}

#evicon
{
	position:	absolute;
	left:		0px;
	top:		580px;
	width:		256px;
	filter: 	grayscale(100%);
	color:		#AAAAAA;
	font-weight:normal;
}

#homebutton
{
	position:	absolute;
	left:		60px;
	top:		780px;
	visibility:	hidden;
}

#notfoundreturn
{
	position:	absolute;
}

/** end of Left **/

/** Function area **/
#loading
{
	width:		1664px;
	height:		1080px;
	background:	rgba(61,64,73,1);
}

.rightarea
{
	position:	absolute;
	left:		256px;
	width:		1664px;
	height:		1080px;
	top:		0px;
	visibility:	hidden;
}

.rightareainright
{
	position:	absolute;
	left:		0px;
	width:		1664px;
	height:		1080px;
	top:		0px;
	visibility:	hidden;
}

/* common button */
.button_icon
{
	position:	absolute;
	left:		117px;
	top:		20px;
}

.left_button_gray
{
	position:	absolute;
	left:		338px;
	top:		866px;
	background:	#8E8580;
	border-radius: 30px;
	border: 	6px solid #8E8580;
	width:		320px;
	height:		160px;
	color:		#1C75BB;
}

.right_button_gray
{
	position:	absolute;
	left:		998px;
	top:		866px;
	background:	#8E8580;
	border-radius: 30px;
	border: 	6px solid #8E8580;
	width:		320px;
	height:		160px;
	color:		#1C75BB;
}

.left_button_orange
{
	position:	absolute;
	left:		338px;
	top:		866px;
	background:	#EB6D34;
	border-radius: 30px;
	border: 	6px solid #EB6D34;
	width:		320px;
	height:		160px;
	color:		#1C75BB;
}

.right_button_orange
{
	position:	absolute;
	left:		998px;
	top:		866px;
	background:	#EB6D34;
	border-radius: 30px;
	border: 	6px solid #EB6D34;
	width:		320px;
	height:		160px;
	color:		#1C75BB;
}

.button_text
{
	position:	absolute;
	left:		10px;
	top:		114px;
	width:		300px;
	color:		white;
	font-size:	24px;
	font-weight:bold;
	text-align: center;
}

.left_button
{
	position:	absolute;
	left:		338px;
	top:		866px;
}

.right_button
{
	position:	absolute;
	left:		998px;
	top:		866px;
}

/* common screen */
.functiontable
{
	position:	absolute;
	top:		300px;
	width:		1664px;
}

.functd
{
	background:	#FFFFFF;
	border-radius: 30px;
	border: 6px solid #FFA935;
	width:		30%;
	height:		460px;
	text-align: 	center;
	color:		#1C75BB;
	font-weight:	bold;
	font-size:		40px;
}

.functdnone
{
	border-radius: 30px;
	width:		30%;
	height:		460px;
}

.titleeng
{
	position:		absolute;
	left:			0px;
	top:			80px;
	width:			1664px;
	text-align: 	center;
	color:			#1C75BB;
	font-weight:	bold;
	font-size:		56px;
}

.titlechn
{
	position:		absolute;
	left:			0px;
	top:			150px;
	width:			1664px;
	text-align: 	center;
	color:			#1C75BB;
	font-weight:	bold;
	font-size:		92px;
}

/* record screen */
.recordL1E
{
	position:		absolute;
	left:			255px;
	top:			365px;
	width:			268px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL1C
{
	position:		absolute;
	left:			255px;
	top:			361px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL1V
{
	position:		absolute;
	left:			528px;
	top:			365px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL2E
{
	position:		absolute;
	left:			255px;
	top:			401px;
	width:			268px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL2C
{
	position:		absolute;
	left:			255px;
	top:			397px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL2V
{
	position:		absolute;
	left:			528px;
	top:			401px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL3E
{
	position:		absolute;
	left:			255px;
	top:			437px;
	width:			268px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL3C
{
	position:		absolute;
	left:			255px;
	top:			433px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL3V
{
	position:		absolute;
	left:			528px;
	top:			437px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL4E
{
	position:		absolute;
	left:			900px;
	top:			365px;
	width:			268px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL4C
{
	position:		absolute;
	left:			1007px;
	top:			361px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL4V
{
	position:		absolute;
	left:			1280px;
	top:			365px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL5E
{
	position:		absolute;
	left:			900px;
	top:			401px;
	width:			268px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL5C
{
	position:		absolute;
	left:			1007px;
	top:			397px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL5V
{
	position:		absolute;
	left:			1280px;
	top:			401px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL6E
{
	position:		absolute;
	left:			900px;
	top:			437px;
	width:			268px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL6C
{
	position:		absolute;
	left:			1007px;
	top:			433px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL6V
{
	position:		absolute;
	left:			1280px;
	top:			437px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}
	
.recordtitleeng
{
	position:		absolute;
	left:			0px;
	top:			80px;
	width:			1664px;
	text-align: 	center;
	color:			white;
	font-weight:	bold;
	font-size:		56px;
}

.recordtitlechn
{
	position:		absolute;
	left:			0px;
	top:			150px;
	width:			1664px;
	text-align: 	center;
	color:			white;
	font-weight:	bold;
	font-size:		92px;
}

#clockiconeraser
{
	position:		absolute;
	left:			803px;
	top:			336px;
	width:			87px;
	height:			108px;
	background:		#EEEEEE;
}
/** end of Function area **/

/** Redemption **/
#insertcoupon
{
	position:	absolute;
	left:		0px;
	top:		535px;
}

#maskcardbox
{
	position:	absolute;
	left:		535px;
	top:		366px;
}

#remainvaluebox
{
	position:	absolute;
	left:		535px;
	top:		400px;
}

#entrytimebox
{
	position:	absolute;
	left:		1285px;
	top:		366px;
}

#freeuntilbox
{
	position:	absolute;
	left:		1285px;
	top:		400px;
}

#maxcouponbox
{
	position:	absolute;
	left:		1285px;
	top:		434px;
}

#maxcouponunitbox
{
	position:	absolute;
	left:		1325px;
	top:		434px;
}

#redeemfailreturn
{
	position:	absolute;
	left:		601px;
	top:		433px;
}

#maxcouponunitbox
{
	position:	absolute;
	left:		1333px;
	top:		437px;
	overflow: 	hidden;
	color:		#766A6C;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

#couponhints
{
	position:	absolute;
	left:		270px;
	top:		10px;
	color:		white;
	font-weight:bold;
	font-size:	56px;
}

.recordcouponeng
{
	position:		absolute;
	left:			160px;
	top:			580px;
	width:			1000px;
	text-align: 	left;
	color:			white;
	font-weight:	bold;
	font-size:		46px;
}

.recordcouponchn
{
	position:		absolute;
	left:			160px;
	top:			720px;
	width:			1000px;
	text-align: 	left;
	color:			white;
	font-weight:	bold;
	font-size:		70px;
}
/** end of Redemption **/



/** swipe card **/
#downarrow
{
	position:	absolute;
	left:		365px;
	top:		900px;
}

#rightarrow
{
	position:	absolute;
	left:		1480px;
	top:		490px;
}
/** end of swipe card **/

/** Disclaimer **/
#disclaimertext
{
	position:	absolute;
	left:		100px;
	top:		50px;
	width:		1464px;
	color:		#1C75BB;
	font-size:	16px;
}
/** end of Disclaimer **/

/** PGS **/
.quitsearch
{
	position:	absolute;
	left:		1397px;
	top:		840px;
}

#P1K02
{
	position:	absolute;
	left:		410px;
	top:		190px;
}
#P1K02i
{
	position:	absolute;
	left:		410px;
	top:		365px;
}

#P1K01
{
	position:	absolute;
	left:		1127px;
	top:		275px;
}
#P1K01i
{
	position:	absolute;
	left:		1127px;
	top:		450px;
}

#P1K04
{
	position:	absolute;
	left:		410px;
	top:		410px;
}
#P1K04i
{
	position:	absolute;
	left:		410px;
	top:		585px;
}

#P1K03
{
	position:	absolute;
	left:		1127px;
	top:		660px;
}
#P1K03i
{
	position:	absolute;
	left:		1127px;
	top:		835px;
}

#P1K06
{
	position:	absolute;
	left:		410px;
	top:		580px;
}
#P1K06i
{
	position:	absolute;
	left:		410px;
	top:		755px;
}

#P1K05
{
	position:	absolute;
	left:		1127px;
	top:		830px;	
}
#P1K05i
{
	position:	absolute;
	left:		1162px;
	top:		990px;
}

#P2K02
{
	position:	absolute;
	left:		445px;
	top:		-15px;
}
#P2K02i
{
	position:	absolute;
	left:		410px;
	top:		70px;
}

#P2K01
{
	position:	absolute;
	left:		1127px;
	top:		125px;
}
#P2K01i
{
	position:	absolute;
	left:		1127px;
	top:		340px;
}

#P2K04
{
	position:	absolute;
	left:		410px;
	top:		360px;
}
#P2K04i
{
	position:	absolute;
	left:		410px;
	top:		550px;
}

#P2K03
{
	position:	absolute;
	left:		1127px;
	top:		435px;
}
#P2K03i
{
	position:	absolute;
	left:		1127px;
	top:		650px;
}

#P2K06
{
	position:	absolute;
	left:		410px;
	top:		575px;
}
#P2K06i
{
	position:	absolute;
	left:		410px;
	top:		750px;
}

#P2K05
{
	position:	absolute;
	left:		1127px;
	top:		825px;
}
#P2K05i
{
	position:	absolute;
	left:		1162px;
	top:		990px;
}

#P3K02
{
	position:	absolute;
	left:		445px;
	top:		-15px;
}
#P3K02i
{
	position:	absolute;
	left:		410px;
	top:		95px;
}

#P3K01
{
	position:	absolute;
	left:		1127px;
	top:		165px;
}
#P3K01i
{
	position:	absolute;
	left:		1127px;
	top:		340px;
}

#P3K04
{
	position:	absolute;
	left:		410px;
	top:		80px;
}
#P3K04i
{
	position:	absolute;
	left:		410px;
	top:		255px;
}

#P3K03
{
	position:	absolute;
	left:		1127px;
	top:		330px;
}
#P3K03i
{
	position:	absolute;
	left:		1127px;
	top:		505px;
}

#P3K06
{
	position:	absolute;
	left:		410px;
	top:		555px;
}
#P3K06i
{
	position:	absolute;
	left:		410px;
	top:		750px;
}

#P3K05
{
	position:	absolute;
	left:		1127px;
	top:		640px;
}
#P3K05i
{
	position:	absolute;
	left:		1127px;
	top:		850px;
}

#bubble
{
	position:		absolute;
	display:		none;
	
	font-family:	sans-serif;
	font-weight:	bold;
	color:			rgb(77,68,73);
	font-size:		20px;
	
	width: 320px;
	height: 180px;
	text-align: center;
	line-height: 30px;
	background-color: #fff;
	border: 8px solid #FBAA35;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#bubble:before {
  content:"";
  position:absolute;
  bottom:-45px; /* value = - border-top-width - border-bottom-width */
  left:135px; /* controls horizontal position */
  border-width:45px 25px 0;
  border-style:solid;
  border-color:#FBAA35 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

#bubble:after {
  content:"";
  position:absolute;
  bottom:-30px; /* value = - border-top-width - border-bottom-width */
  left:140px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:35px 19px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

#bubble2
{
	position:		absolute;
	display:		none;
	
	font-family:	sans-serif;
	font-weight:	bold;
	color:			rgb(77,68,73);
	font-size:		20px;
	
	width: 320px;
	height: 180px;
	text-align: center;
	line-height: 30px;
	background-color: #fff;
	border: 8px solid #FBAA35;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#bubble2:before {
  content:"";
  position:absolute;
  top:-45px;
  left:135px; /* controls horizontal position */
  border-width:0 25px 45px;
  border-style:solid;
  border-color:#FBAA35 transparent;
  z-index: 1;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

#bubble2:after {
  content:"";
  position:absolute;
  top:-30px; /* value = - border-top-width - border-bottom-width */
  left:140px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:0 19px 35px;
  border-style:solid;
  border-color:#fff transparent;
  z-index: 1;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

#bubble3
{
	position:		absolute;
	display:		none;
	
	font-family:	sans-serif;
	font-weight:	bold;
	color:			rgb(77,68,73);
	font-size:		20px;
	
	width: 320px;
	height: 180px;
	text-align: center;
	line-height: 30px;
	background-color: #fff;
	border: 8px solid #FBAA35;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#bubble3:before {
  content:"";
  position:absolute;
  left: -44px;
  top: 20px;
  border-width: 23px 41px 23px 0;
  border-style:solid;
  border-color:transparent #FBAA35 ;
  z-index: 0;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

#bubble3:after {
  content:"";
  position:absolute;
  left: -30px;
  top: 24px;
  border-width: 19px 35px 19px 0;
  border-style:solid;
  border-color:transparent #fff;
  z-index: 1;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

#bubble4
{
	position:		absolute;
	display:		none;
	
	font-family:	sans-serif;
	font-weight:	bold;
	color:			rgb(77,68,73);
	font-size:		20px;
	
	width: 320px;
	height: 180px;
	text-align: center;
	line-height: 30px;
	background-color: #fff;
	border: 8px solid #FBAA35;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#bubble4:before {
  content:"";
  position:absolute;
  right: -44px;
  top: 20px;
  border-width: 23px 0 23px 41px;
  border-style:solid;
  border-color:transparent #FBAA35 ;
  z-index: 0;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

#bubble4:after {
  content:"";
  position:absolute;
  right: -30px;
  top: 24px;
  border-width: 19px 0 19px 35px;
  border-style:solid;
  border-color:transparent #fff;
  z-index: 1;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

#canvasboxP1
{
	position:	absolute;
	left:		0px;
	top:		0px;
}

#canvasboxP2
{
	position:	absolute;
	left:		0px;
	top:		0px;
}

#canvasboxP3
{
	position:	absolute;
	left:		0px;
	top:		0px;
}

#photobox
{
	position:	absolute;
	left:		512px;
	top:		316px;
}

#floorbox
{
	position:	absolute;
	left:		548px;
	top:		878px;
}

#baybox
{
	position:	absolute;
	left:		548px;
	top:		912px;
}

#lpnbox
{
	position:	absolute;
	left:		548px;
	top:		946px;
}

#intimebox
{
	position:	absolute;
	left:		1190px;
	top:		878px;
}

#systimebox
{
	position:	absolute;
	left:		1190px;
	top:		912px;
}

#locator
{
	position:	absolute;
	left:		1387px;
	top:		100px;
}

.searchback
{
	position:	absolute;
	left:		1397px;
	top:		20px;
}

.box
{
	font-family:	sans-serif;
	color:			rgb(118,106,108);
	font-weight:	bold;
	font-size:		28px;
}
/** end of PGS **/

/** EV **/
.funcevtd
{
	height:			105px;
	width:			350px;
	color:			#EB6D34;
	font-weight:	bold;
	font-size:		60px;
}

.funcevtdtitle
{
	color:			#4E414A;
	text-align: 	center;
	font-weight:	bold;
	font-size:		42px;
}

.funcevtdfill
{
	width:			2%;
	font-size:		5px;
}

#evfailreturn
{
	position:	absolute;
	left:		601px;
	top:		433px;
}

#batterygif
{
	position:	absolute;
	top:		320px;	
	font-size: 	96px;
	width:		1664px;
}

#evchargeimage
{
	position:	absolute;
	left:		672px;
	top:		536px;
}

.recordL1Eev
{
	position:		absolute;
	left:			255px;
	top:			345px;
	width:			268px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL1Cev
{
	position:		absolute;
	left:			255px;
	top:			341px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL1Vev
{
	position:		absolute;
	left:			528px;
	top:			345px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL2Eev
{
	position:		absolute;
	left:			255px;
	top:			381px;
	width:			268px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL2Cev
{
	position:		absolute;
	left:			255px;
	top:			377px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL2Vev
{
	position:		absolute;
	left:			528px;
	top:			381px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL3Eev
{
	position:		absolute;
	left:			255px;
	top:			417px;
	width:			368px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL3Cev
{
	position:		absolute;
	left:			355px;
	top:			413px;
	width:			318px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL3Vev
{
	position:		absolute;
	left:			678px;
	top:			417px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL4Eev
{
	position:		absolute;
	left:			900px;
	top:			345px;
	width:			318px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL4Cev
{
	position:		absolute;
	left:			1087px;
	top:			341px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL4Vev
{
	position:		absolute;
	left:			1360px;
	top:			345px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL5Eev
{
	position:		absolute;
	left:			900px;
	top:			381px;
	width:			318px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL5Cev
{
	position:		absolute;
	left:			1087px;
	top:			377px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL5Vev
{
	position:		absolute;
	left:			1360px;
	top:			381px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL6Eev
{
	position:		absolute;
	left:			900px;
	top:			417px;
	width:			318px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL6Cev
{
	position:		absolute;
	left:			1087px;
	top:			413px;
	width:			268px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL6Vev
{
	position:		absolute;
	left:			1360px;
	top:			417px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}
	
.recordL7Eev
{
	position:		absolute;
	left:			255px;
	top:			453px;
	width:			368px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}

.recordL7Cev
{
	position:		absolute;
	left:			355px;
	top:			449px;
	width:			318px;
	height:			31px;
	font-weight:	bold;
	font-size:		28px;
	overflow: 		hidden;
	text-align: 	right;
	color:			#766A6C;
}

.recordL7Vev
{
	position:		absolute;
	left:			678px;
	top:			453px;
	width:			280px;
	height:			30px;
	font-weight:	bold;
	font-size:		30px;
	overflow: 		hidden;
	color:			#766A6C;
}






/** end of EV **/